{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <h2 class="display-4">Welcome to the Blog API</h2>

    {% if user.is_authenticated %}

      <a class="btn btn-lg btn-primary" href="api/v1/" role="button">Browse the API »</a>
    {% else %}

      <p class="lead">
        A simple blog API made with Django and the Django REST
        framework.
      </p>

      <a class="btn btn-lg btn-primary"
         href="{% url 'account_signup' %}"
         role="button">Register »</a>
    {% endif %}
  </div>
{% endblock content %}
